{% load jformat %}
{% load blog_tags %}
<div>
    <h2 class="page-title posts--title">آخرین پست ها</h2>
    {% for post in l_posts %}
        <div class="posts-cont">
            <div class="post-image--cont">
                <img class="post-image" src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
            </div>
            <div class="post-data">
                <div class="profile-info--cont">
                    <img class="profile-image" src="{{ post.author.account.photo.url }}" alt="">
                    <a class="username-link" href="{% url 'blog:profile_detail' post.author.id %}">{{ post.author }}</a>
                </div>
                <div class="post-info">
                    <h3><a class="title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <div class="post-desc">{{ post.description | markdown | truncatewords:25 }}</div>
                    <p class="post-time">{{ post.publish | jformat:'%Y/%m/%d | %H:%M ' }}</p>
                </div>

            </div>
        </div>
    {% endfor %}
</div>