{% load static %}
{% load blog_tags %}
{% load jformat %}
<link rel="stylesheet" href="{% static 'CSS/partials/search.css' %}">
<div>
    <button class="toggle-btn" onclick="toggleSearch()"> جستجو</button>
<div class="body">
    <form method="get" class="search-box" id="searchBox" action="{% url 'blog:post_search' %}">
        <input type="text" name="query" placeholder="جستجو کن...">
        <button type="submit">⮞</button>
    </form>
</div>
</div>

<script>
    function toggleSearch() {
        const box = document.getElementById("searchBox");
        if (box.style.display === "none" || box.style.display === "") {
            box.style.display = "flex";
        } else {
            box.style.display = "none";
        }
    }
</script>