{% load static %}
{% block title %}post comments{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/forms/comment.css' %}">
{% endblock %}
{% block content %}
    {% if comment %}
    	<p>کامنت شما ثبت شد!</p>
        <a href="{{ post.get_absolute_url }}">بازگشت به پست</a>
    {% else %}
        <form class="form" method="post" action="{% url 'blog:post_comment' post.id %}">
            <fieldset class="fieldset">
                <legend>ثبت نظر</legend>
                {% csrf_token %}
                {{ form.as_div }}
                <input class="submit" type="submit" value="افزودن نظر">
            </fieldset>
        </form>
    {% endif %}
{% endblock %}