@font-face {
    font-family: 'Dana';
    src: url('../../fonts/Dana-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Dana sans-serif;
}

/*div {*/
/*    color: yellow;*/
/*}*/

.submit{
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 10px;
}
.form-field{
    width: 300px;
    height: 30px;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 10px;
    font-size: 17px;
}
.form-field::placeholder{
    text-align: center;
}
.fieldset{
    border: 5px solid red;
    width: auto;
    height: auto;
    margin: auto;
    padding: 30px 50px;
    border-radius: 30px;
}
.form{
    display: flex;
    min-height: 100vh;
}
.form-message{
    height: 100px;
}
legend{
    font-size: 18px;
}
body{
    background-color: #030520;
    color: white;
    direction: rtl;
}
