@font-face {
    font-family: 'Dana';
    src: url('../../fonts/Dana-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Dana sans-serif;
}

body{
    background-color: #030520;
    color: white;
    direction: rtl;
}

/*-------------------------------------*/


/* universal-form.css */

