{% extends 'parent/base.html' %}
{% load static %}
{% block title %}edit account{% endblock %}
{% block content %}
    <h1>ویرایش اطلاعات</h1>
    <p>لطفا اطلاعات خود را ویرایش کنید</p>
    <form class="form" method="post" enctype="multipart/form-data">
        <fieldset class="fieldset">
            <legend>ثبت نام</legend>
            {% csrf_token %}
            {{ user_form.as_div }}
            {{ account_form.as_div }}
            <input class="submit" type="submit" value="ذخیره">
        </fieldset>
    </form>
{% endblock %}