{% extends 'parent/base.html' %}
{% load static %}
{% load jformat %}
{% load blog_tags %}
{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/blog/index.css' %}">
{% endblock %}
{% block content %}
    <!-- Page Title -->
    <h2 class="page-title">آمار</h2>

    <!-- Totals -->
    <div class="totals-container">
        <p class="totals">تعداد پست‌ها<br>{% total_posts %}</p>
        <p class="totals">تعداد نظرات<br>{% total_comments %}</p>
    </div>

    <!-- Main Container -->
    <div class="main-cont">

        <!-- Latest Posts -->
        <div class="posts-container">
            <h2 class="page-title posts--title">جدیدترین پست‌ها</h2>
            {% latest_posts %}
        </div>

        <!-- Most Popular Posts -->
        <div class="posts-container">
            <h2 class="page-title posts--title">محبوب‌ترین پست‌ها</h2>
            {% most_popular_posts as pop_posts %}
            {% for post in pop_posts %}
                <div class="posts-cont">
                    <div class="post-image--cont">
                        <img class="post-image" src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
                    </div>
                    <div class="post-data">
                        <div class="profile-info--cont">
                            <img class="profile-image" src="{{ post.author.account.photo.url }}" alt="{{ post.author }}">
                            <a class="username-link" href="{% url 'blog:profile_detail' post.author.id %}">{{ post.author }}</a>
                        </div>
                        <div class="post-info">
                            <h3><a class="title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <div class="post-desc">{{ post.description | markdown | safe | truncatewords:25 }}</div>
                            <p class="post-time">{{ post.publish | jformat:'%Y/%m/%d | %H:%M ' }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!-- Longest Post -->
    <h2>طولانی‌ترین پست</h2>
    {% max_reading_time as mart %}
    {% for post in mart %}
        <p style="text-align: center;">
            <a href="{{ post.get_absolute_url }}">{{ post.title }} : با زمان مطالعه {{ post.max_time }}</a>
        </p>
    {% endfor %}

    <!-- Shortest Post -->
    <h2>کوتاه‌ترین پست</h2>
    {% min_reading_time as mirt %}
    {% for post in mirt %}
        <p style="text-align: center;">
            <a href="{{ post.get_absolute_url }}">{{ post.title }} : با زمان مطالعه {{ post.min_time }}</a>
        </p>
    {% endfor %}
{% endblock %}