{% extends 'parent/base.html' %}
{% load static %}
{% block title %}
    post list
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/blog/list.css' %}">
{% endblock %}
{% block content %}
    <!-- Category Links -->
    <div class="categories">
        <a href="{% url 'blog:post_list_category' 'تکنولوژِی' %}">تکنولوژِی</a>
        <a href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a>
    </div>

    <!-- Main Title -->
    {% if category %}
        <h1 class="main-title">لیست پست های {{ category }}</h1>
    {% else %}
        <h1 class="main-title">لیست پست ها</h1>
    {% endif %} 

    <!-- Post List -->
    <ol class="ol" style="--length: {{ posts|length }}" role="list">
        {% for post in posts %}
            <li class="li" style="--i: {{ forloop.counter }}">
                <!-- Post Image -->
                {% if post.images.first %}
                    <img src="{{ post.images.first.image_file.url }}" alt="{{ post.images.first.title }}">
                {% endif %}

                <!-- Post Title -->
                <h3 class="h3">
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h3>

                <!-- Post Description -->
                <p>{{ post.description | truncatewords:5 }}</p>
            </li>
        {% endfor %}
    </ol>

    <!-- Pagination -->
    {% include 'partials/pagination.html' with page=posts %}
{% endblock %}