{% extends 'parent/base.html' %}
{% load static %}
{% block title %}edit account{% endblock %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <img src="{{ account.photo.url }}" alt="">
    <p>نام : {{ user.first_name }}</p>
    <p>نام خانوادگی : {{ user.last_name }}</p>
    <p>درباره : {{ account.bio }}</p>
    <p>تاریخ تولد : {{ account.date_of_birth }}</p>
    <p>شغل : {{ account.job }}</p>
    {% for post in posts %}
    	<a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <br>
    {% endfor %}
{% endblock %}