{% extends 'parent/base.html' %}
{% load static %}
{% load blog_tags %}
{% load jformat %}
{% block title %}profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'CSS/blog/profile.css' %}">
{% endblock %}
{% block content %}
	<table class="table" >
        <tr class="tr">
            <th class="row">ردیف</th>
            <th>پست</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
        {% for post in posts %}
            <tr class="tr">
                <td class="row">{{ forloop.counter }}</td>
                <td><a class="title" href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                <td><a href="{% url 'blog:edit_post' post.id %}">
                    <img class="icon edit" src="{% static 'icons/edit.svg' %}" alt="ویرایش">
                </a></td>
                <td><a href="{% url 'blog:delete_post' post.id %}">
                    <img class="icon delete" src="{% static 'icons/delete.svg' %}" alt="حذف">
                </a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}